<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuempresa.proyecto_01_11_25">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_logo"
        android:label="Habitus+"
        android:roundIcon="@drawable/img_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_01_11_25">

        <!-- Pantalla principal (Splash) -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/Api_Key" />



        <activity android:name=".ui.DashboardActivity" />
        <activity android:name=".ui.SelectHabitTypeActivity" />
        <activity android:name=".ui.ConfigureHabitActivity" />
        <activity android:name=".ui.HabitDetailActivity" />
        <activity android:name=".ui.JournalingActivity" />
        <activity android:name=".ui.MeditationActivity" />
        <activity android:name=".ui.MapActivity"/>
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.ScoresActivity" />
        <activity 
            android:name=".ui.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Proyecto_01_11_25"/>


    </application>

</manifest>
